* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    height: 100vh;
    /* place-items: spa; */
}

.main {
    width: 400px;
    height: 450px;
    background-color: white;
    margin-top: 8%;
    margin-left: 50%;
    border: 5px solid black;
    border-radius: 6px;
}

.main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid black;
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
}

.btn input[type='button'] {
    width: 90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #495250;
    border-radius: 6px;
    color: white;
}

.btn input[type='button']:hover {
    background-color: black;
    color: white;
}

.history {
    width: 400px;
    border: solid;
    height: 450px;
    position: fixed;
    left: 15%;
    margin-top: 8% !important;
    margin: 20px;
    background-color: aliceblue;
    text-align: right;
}

h4,
h5 {
    margin-top: 5px;
    margin-right: 10px;
}

div.button {
    text-align: center;
    align-items: left;
}

button {
    position: absolute;
    left: 10px;
    font-weight: bold;
    font-size: 15px;
    align-items: left;
    margin: 5px;
}
